body, html{
  color: #475D69;
  background-color: #475D69;
  background: #475D69;
  background-image: url('../images/background.png');
  background-repeat: repeat;
}

.login h1{
  background-color:#f9f9f9;
border-radius: 150px;
padding: 10px;
margin: 0 auto 0 auto;
width:150px;
height:150px;
text-align: center;
border: 3px solid #113343;
}

.login h1 a {
    background-image: url( ../images/gc.png);
    padding-bottom: 0;
    margin:0 auto;
    margin-top:30px;

}

.message{
  margin-top:20px;
}

.login #login_error, .login .message{
  border-color:#113343;
}

#login {
    padding: 3% 0 0;}
